h1 {
	color: #0ae312;
}

table, th, td {
	width: 40%;
	background-color:rgb(177, 253, 200);
	border: 1px solid black;
}
body{
	background-color:yellow;
	background-image:url("https://5.imimg.com/data5/EK/HD/MY-25455024/banking-management-system-250x250.jpg");
	background-size:cover;
}