<div class="body">
	<div class="container">
		<div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
            <h1>Balance Details</h1>
        </div>
        <table border="1">
            <thead class="thead-dark">
              <tr >
                <th scope="col">Current Balance</th>
                <th scope="col">Out Standing Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ client.accountbalance }}</td>
                <td>{{ client.outstandingbalance }}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          
          <div class="foot">
		      <input
            type="button"
            value="Home Page"
            (click)="home()">	
          </div>
  </div>
</div>