<div class="body">
      
  <button type="button" class="btn-float-left" (click)="gotoHomePage()">Home Page</button>
  <button type="button" class="btn-float-right" (click)="logout()">Logout</button>
  <br>
  <br>
  <br>
      <div class="container">
         <h1>TRANSACTION</h1>
         <h3></h3>
         <label>Enter the Account Number</label>
         <br>
         <div>
            <input type="number"  name="accountno" required [(ngModel)]="accountno"/>
      </div>
      <br>
      <br>
      <label>Enter the Amount</label>
         <div>
               <input type="number"  name="amount" required [(ngModel)]="tamount"/>
         </div>
         <br>
         
         <div style="background-color: #fa1515" class="err">{{withdrawErr}}</div>
         <div style="background-color: #fa1515" class="err">{{accounterr}}</div><br>
         <br>
         <button id="submit" (click)="onTransfer()" >Submit</button>
         <br>
         <br>
         
         </div>
      </div>