<div class="body">
      
  <button type="button" class="btn-float-left" (click)="gotoHomePage()">Home Page</button>
  <button type="button" class="btn-float-right" (click)="logout()">Logout</button>
  <br>
  <br>
  <br>
      <div class="container">
         <h1>TRANSACTION</h1>
         <h3>Deposit</h3>
         <label>Enter the amount to deposit</label>
         <div>
               <input type="number"  name="amount" required [(ngModel)]="damount"/>
         </div>
         <br>
         <button id="submit" (click)="onDeposit()" >Submit</button>
         <br>
         <br>
         <h3>Withdraw</h3>
         <label>Enter the amount to withdraw</label>
         <div>
               <input type="number"  name="amount" required  [(ngModel)]="wamount"/>
         </div><br>
         <button id="submit" (click)="onWithdraw()" >Submit</button>
         
         </div>
      </div>