
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ClientId</th>
          <td>{{client.clientid}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">First Name</th>
          <td>{{client.firstname}</td>
        </tr>
        <tr>
          <th scope="col">Last Name</th>
          <td>{{client.lastname}</td>
        </tr>
        <tr>
          <th scope="col">Account Number</th>
          <td>{{client.clientaccount}</td>
        </tr>
        <tr>
          <th scope="col">Current Balance</th>
          <td>{{client.accountbalance}</td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/report">TotalTransaction</a>
  </div>
