
<div class="body">
  
            <!--div class="btn-float-right">
                <input
                type="button"
                value="Logout"
                (click)="logout()">
            </div-->
            
  <div class="container">
    <button type="button" class="btn-float-right" (click)="logout()">Logout</button>
    <div class="card-body">
      <h1 class="header">Home page</h1>
        <div class="box">
          <div>
            <input
            type="button"
            value="Account Details"
            (click)="accountdetails()">
          </div><br>
          <div>
            <input
            type="button"
            value="Check Balance"
            (click)="clientbalance()">
          </div><br>
          <div>
            <input
            type="button"
            value="Last Transaction"
            (click)="lastTransaction()">
          </div><br>
          <div>
            <input
            type="button"
            value="Money Transfer"
            (click)="moneyTranfer()">
          </div><br>
          <div>
            <input
            type="button"
            value="Total Transaction"
            (click)="totalTransaction()">
          </div><br>
          
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <br>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>