
<header>
  <div class="wrapper">
  <ul class="nav-area">
  <li><button type="button" class="btn-float-right" (click)="logout()">Logout</button></li>
  </ul>
  </div>
  <div class="welcome-text">
    <h1 class="header">Home page</h1>     
    <div>
      <input
      type="button"
      value="Account Details"
      (click)="accountdetails()">
    </div><br>
    <div>
      <input
      type="button"
      value="Check Balance"
      (click)="clientbalance()">
    </div><br>
    <div>
      <input
      type="button"
      value="Last Transaction"
      (click)="lastTransaction()">
    </div><br>
    <div>
      <input
      type="button"
      value="Money Transfer"
      (click)="moneyTranfer()">
    </div><br>
    <div>
      <input
      type="button"
      value="Total Transaction"
      (click)="totalTransaction()">
    </div><br>
    
      <br>
  </div>
  </header>