<div class="body">
  <fieldset > 
      <legend style="color: orange; text-align: left;"><h1>Registration Form</h1></legend>
  <div class="container">
    <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
      
        <label style="color: rgb(168, 80, 8);" for="name"><b>Firstname</b></label>
        <input type="text" [(ngModel)]="client.firstname" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname"
          required #firstname="ngModel">
      <div [hidden]="!firstname.pristine" class="alert-danger">Firstname is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="name"><b>Lastname</b></label>
        <input type="text" [(ngModel)]="client.lastname" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname"
          required #lastname="ngModel">
      <div [hidden]="!lastname.pristine" class="alert-danger">Lastname is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="email"><b>Email</b></label>
        <input type="text" [(ngModel)]="client.email" class="form-control" id="email" name="email" placeholder="Enter your email address"
          required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert-danger">Email is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="clientaddress"><b>Address</b></label>
        <input type="text" [(ngModel)]="client.clientaddress" class="form-control" id="clientaddress" name="clientaddress" placeholder="Enter your address"
          required #clientaddress="ngModel">
        <div [hidden]="!clientaddress.pristine" class="alert-danger">Address is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="username"><b>Username</b></label>
        <input type="text" [(ngModel)]="client.username" class="form-control" id="username" name="username" placeholder="Enter your username"
          required #username="ngModel">
      <div [hidden]="!username.pristine" class="alert-danger">Username is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="password"><b>Password</b></label>
        <input type="password" [(ngModel)]="client.password" class="form-control" id="password" name="password" placeholder=""
          required #password="ngModel">
      <div [hidden]="!password.pristine" class="alert-danger">Password is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="clientaccount"><b>Account Number</b></label>
        <input type="number" [(ngModel)]="client.clientaccount" class="form-control" id="clientaccount" name="clientaccount" placeholder="Enter the  Account Number"
          required #clientaccount="ngModel">
      <div [hidden]="!clientaccount.pristine" class="alert-danger">Account Number is required</div>
      <br>
        <label style="color: rgb(168, 80, 8);" for="mobileno"><b>Mobile Number</b></label>
        <input type="number" [(ngModel)]="client.mobileno" class="form-control" id="mobileno" name="mobileno" placeholder="Enter your mobile number"
          required #mobileno="ngModel">
      <div [hidden]="!mobileno.pristine" class="alert-danger">Mobile number is required</div>
      <br>
      <div style="background-color: #fa1515" class="err">{{errormsg}}</div>
      <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-info">Submit</button>
      <button type="reset"> Reset</button>
    </form>
  </div>
</fieldset>
</div>