<div class="body">
   
  <button type="button" class="btn-float-left" (click)="home()">Home Page</button>
  <button type="button" class="btn-float-right" (click)="logout()">Logout</button>
  <br>  
  <div class="container">
    <h1><strong> Total Transaction </strong></h1>
    <div class="table">
    <table border="1">
      <thead class="thead-dark">
        <tr >
          <th scope="col">Transaction Date</th>
          <th scope="col">Transaction</th>
          <th scope="col">Amount</th>
          <th scope="col">Account No</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.tdate }}</td>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.accountno }}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  </div>
</div>
