<div class="body">
  <div class="container">
    <div class="table">
    <table border="1">
      <thead class="thead-dark">
        <tr >
          <th scope="col">Transaction Date</th>
          <th scope="col">Deposit/Withdraw</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.tdate }}</td>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.amount }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="foot">
      <input
      type="button"
      value="Home Page"
      (click)="home()">
    </div>
  </div>
  </div>
</div>
