.heading {
	text-transform: uppercase;
	color: #a0d4ea;

}
.btn-float-left
{
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 20px;
	float: left;	
}
.btn-float-right{
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 20px;
	float: right;
}
.submit
{
	border-radius: 10px;
	padding: 8px;
	margin-left: 100px;
	background-color: rgb(208, 137, 14);
}

.submit:hover
{
	background-color: rgb(9, 131, 155);
	border-color: aliceblue;

}
button:hover 
{
    background-color: rgb(108, 106, 226);
	border-color: aliceblue;
}
.body
{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://cdn.pixabay.com/photo/2016/07/23/04/05/business-1536236_960_720.png");
	background-size:100% 100%;
}
.container
{
  position: relative;
  top: 60%;
  width: auto;
  text-align: left;
  margin-left: 40%;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 200px;
}
