<div class="body">
  <button type="button" class="btn-float-left" (click)="home()">Home Page</button>
  <button type="button" class="btn-float-right" (click)="logout()">Logout</button>
  
  <br>
  <div class="container">
      <div class="heading">
          <h1>Account Details</h1>
      </div>
      <div class="table">
        <table border="1">
          <thead class="thead-dark">
            <tr >
              <th scope="col">Client Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Account No</th>
              <th scope="col">Username</th>
              <th scope="col">DOJ</th>
              <th scope="col">Current Balance</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients">
              <td>{{ client.clientid }}</td>
              <td>{{ client.firstname }}</td>
              <td>{{ client.lastname }}</td>
              <td>{{ client.clientaccount }}</td>
              <td>{{ client.username }}</td>
              <td>{{ client.doj }}</td>
              <td>{{ client.accountbalance }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.mobileno }}</td>
              <td>{{ client.clientaddress }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
  </div>
</div>