<div class="body">
	<div  class="container">
		<div>
            <h1>Last Transaction Details</h1>
        </div>
        <table border="1">
            <thead class="thead-dark">
              <tr >
                <th scope="col">Last Deposit</th>
                <th scope="col">Last Withdraw</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ client.deposit }}</td>
                <td>{{ client.withdraw }}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

		<input
            type="button"
            value="Home Page"
            (click)="home()">	</div>
            <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
</div>